openapi: 3.0.0
info:
  title: 5D World Map
  description: 5D World Map API Specification
  version: 1.0.0
servers:
  - url: https://5dworldmap.com/api/{version}
    variables:
      version:
        default: v1
paths:
  /users:
    get:
      tags:
        - Users
      summary: Get users
      description: Get user by user name.
      parameters:
      - name: offset
        in: query
        description: Offset
        required: false
        schema:
          type: integer
          example: 0
      - name: limit
        in: query
        description: Limit
        required: false
        schema:
          type: integer
          example: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /users/{username}:
    get:
      tags:
        - Users
      summary: Get a user
      description: Get user by user name.
      parameters:
      - name: username
        in: path
        description: User name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
          maxLength: 20
        first_name:
          type: string
          maxLength: 20
        last_name:
          type: string
          maxLength: 20
        updated_at:
          type: string
        email:
          type: string
          nullable: true
          maxLength: 128
      required:
        - id
        - username
        - first_name
        - last_name
        - updated_at
        - email
tags:
  - name: Users
    description: User API