openapi: 3.0.0
info:
  title: 5D World Map API
  description: 5D World Map API Specification
  version: 1.0.0
servers:
  - url: https://5dworldmap.com/api/{version}
    variables:
      version:
        default: v1
paths:
  /search:
    post:
      tags:
        - Search
      summary: Search media
      description: Search media.
      requestBody:
        description: Search query
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keywords:
                  type: array
                  items:
                    type: string
                categories:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                usernames:
                  type: array
                  items:
                    type: string
                offset:
                  type: integer
                  example: 0
                limit:
                  type: integer
                  example: 10
              required:
                - keywords
                - categories
                - types
                - usernames
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
  /categories:
    get:
      tags:
        - Categories
      summary: Get categories
      description: Get categories.
      parameters:
      - name: offset
        in: query
        description: Offset
        required: false
        schema:
          type: integer
          example: 0
      - name: limit
        in: query
        description: Limit
        required: false
        schema:
          type: integer
          example: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
  /media:
    get:
      tags:
        - Media
      summary: Get media
      description: Get media.
      parameters:
      - name: type
        in: query
        description: Mime type
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Sort
        required: false
        schema:
          type: string
          enum: [created_at]
      - name: order
        in: query
        description: Order
        required: false
        schema:
          type: string
          enum: [asc, desc]
      - name: offset
        in: query
        description: Offset
        required: false
        schema:
          type: integer
          example: 0
      - name: limit
        in: query
        description: Limit
        required: false
        schema:
          type: integer
          example: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
  /users:
    get:
      tags:
        - Users
      summary: Get users
      description: Get users.
      parameters:
      - name: offset
        in: query
        description: Offset
        required: false
        schema:
          type: integer
          example: 0
      - name: limit
        in: query
        description: Limit
        required: false
        schema:
          type: integer
          example: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /users/{username}:
    get:
      tags:
        - Users
      summary: Get a user
      description: Get user by user name.
      parameters:
      - name: username
        in: path
        description: User name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          maxLength: 50
        updated_at:
          type: string
      required:
        - id
        - name
        - updated_at
    Media:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
        type:
          type: string
          maxLength: 10
        categories:
          type: array
          items:
            type: string
        address:
          type: string
        description:
          type: string
        username:
          type: string
          maxLength: 20
        latitude:
          type: number
        longitude:
          type: number
        created_at:
          type: string
      required:
        - id
        - url
        - type
        - categories
        - address
        - description
        - username
        - latitude
        - longitude
        - created_at
    User:
      type: object
      properties:
        username:
          type: string
          maxLength: 20
        first_name:
          type: string
          maxLength: 20
        last_name:
          type: string
          maxLength: 20
        updated_at:
          type: string
        email:
          type: string
          format: email
          nullable: true
          maxLength: 128
      required:
        - id
        - username
        - first_name
        - last_name
        - updated_at
        - email
tags:
  - name: Search
  - name: Categories
  - name: Media
  - name: Users