@charset "UTF-8";

$primary: #ff8138;
$danger: hsl(348, 100%, 61%);
$family-sans-serif: "Barlow", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@forward "@fortawesome/fontawesome-free/css/all.css";
@use "bulma/sass" with (
    $family-primary: $family-sans-serif,
    $primary: $primary,
    $danger: $danger
);

:root {
    --menu-background-color: hsla(0, 0%, 96%, 0.75);
    --accent-color: #{$primary};
    --error-color: #{$danger};
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    overflow: hidden;
    scroll-behavior: smooth;
    background: hsl(0, 0%, 96%);
    transition: 0.5s;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    background: transparent;
}

h1,
h2,
p,
span,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
    font-family: #{$family-sans-serif};
}

a,
a:hover {
    color: var(--accent-color);
}

.button:focus:not(:active),
.button.is-focused:not(:active) {
    box-shadow: none;
}

.button:hover,
.button.is-hovered {
    border: 0px solid transparent;
}

.file-input,
.file-cta {
    background-color: transparent !important;
    border: 0px solid transparent !important;
    padding: 0;
    height: initial;
}

.file-cta_ {
    display: flex;
    flex-direction: row;
}

.is-primary,
.is-primary:active,
.is-primary:focus,
.is-primary:hover {
    background-color: transparent !important;
    color: var(--accent-color) !important;
    border: 0px solid transparent !important;
    box-shadow: none !important;
    transition: 0.5s;
}

[class*=is-color-black], [class*=has-text-black] {
    color: #000000 !important;
}

.tabs {
    --bulma-tabs-toggle-link-border-width: 0px;
}

.tabs.is-toggle {
    li a {
        border: 1px solid hsl(0deg, 0%, 93%) !important;
    }

    li.is-active a {
        background-color: var(--accent-color) !important;
        border-color: var(--accent-color) !important;
    }
}

.select:not(.is-multiple) {
    height: auto;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--accent-color);
    font-size: 0.75rem;
    line-height: 0.75rem;
    border-radius: 0px !important;
}

.select select, .input, .textarea {
    color: #000000;
}

.panel-block {
    color: #000000 !important;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: hsl(0, 0%, 21%) !important;
}

.is-superellips {
    transform: rotate(-19deg);

    >figure {
        z-index: 1;
        position: relative;
        border-radius: 43% 57% 43% 57% / 57% 43% 57% 43% !important;
        overflow: hidden !important;

        >picture {
            transform: rotate(19deg);
        }
    }
}

#map button {
    border-radius: 0 !important;
    box-shadow: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

#app {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    >.header {
        display: flex;
        opacity: 0;
        position: absolute;
        left: 50%;
        color: #000000;
        transform: translate(-50%, 0%);
        height: 16px;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    >.wrap {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        backface-visibility: hidden;
        transition: 0.5s;
        
        >.frame {
            position: relative;
            display: flex;
            margin: 0;
            padding: 0;
            border-radius: 0px;
            width: 100%;
            max-width: 100% !important;
            height: 100%;
            background-color: #ffffff;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            transition: 0.5s;

            >.wrap {
                position: relative;
                margin: 0;
                padding: 0;
                width: 100%;
                max-width: 100% !important;
                height: 100%;
                overflow: hidden;

                >.content {
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    min-height: 100%;
                    overflow: hidden;
        
                    button,
                    .button {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 8px 16px 8px 16px;
                        border: 0px none transparent;
                        background: #ffffff;
                        background-clip: padding-box;
                        height: fit-content;
                        font-size: 0.75rem;
                        line-height: calc(0.75rem * 1.0);
                        backface-visibility: hidden;
                        color: #000000;
                        box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.1);
        
                        .icon {
                            color: var(--accent-color);
                            transition: 0.5s;
                        }
        
                        span+.icon:last-of-type {
                            color: var(--accent-color);
                            transition: 0.5s;
                        }
        
                        .icon:first-child:not(:last-child) {
                            margin: 0;
                        }
        
                        span:not(:first-child) {
                            margin: 0px 0px 0px 8px;
                        }
        
                        span {
                            pointer-events: none;
                        }
                    }
        
                    button.is-primary,
                    .button.is-primary {
                        background-color: var(--accent-color) !important;
                        color: #ffffff !important;
                        transition: 0.5s;
        
                        span {
                            color: #ffffff !important;
                        }
                    }
        
                    button.is-circle,
                    .button.is-circle {
                        margin: 0px;
                        padding: 16px !important;
                        height: initial;
                        border-radius: 290486px;
        
                        span {
                            margin: 0 !important;
                            width: 0.75rem !important;
                            height: 0.75rem !important;
                            color: var(--accent-color);
                        }
                    }
        
                    button.is-primary.is-circle,
                    .button.is-primary.is-circle {
                        border-radius: 290486px;
                        overflow: hidden;
                        background-color: var(--primary-background-color) !important;
                        color: #ffffff !important;
                        transition: 0.5s;
        
                        span {
                            color: #ffffff !important;
                        }
                    }
                }
            }
        }
    }
}

.left {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    margin: 16px 0px 0px 0px;
    padding: env(safe-area-inset-top, 0px) 0px 0px calc(env(safe-area-inset-left, 0px) + 16px);
    touch-action: none;

    button,
    .button {
        margin: 0px;
        border: 0px none transparent !important;
        padding: 16px;
        background: #ffffff !important;
        box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.1) !important;
        background-clip: padding-box;
        height: initial;

        >span.icon {
            margin: 0 !important;
            width: 1rem !important;
            height: 1rem !important;
        }
    }

    button.is-rounded,
    .button.is-rounded {
        padding: 16px;
    }

    button.is-circle,
    .button.is-circle {
        margin: 0px;
        padding: 16px !important;
        height: initial;
        border-radius: 290486px;

        span {
            margin: 0 !important;
            width: 0.75rem !important;
            height: 0.75rem !important;
            color: var(--accent-color);
        }
    }
}

#sidebar {
    position: relative;
    padding: env(safe-area-inset-top, 0px) 0px env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: fit-content;
    height: 100%;
    background-color: hsl(0, 0%, 96%);
    overflow: hidden;

    button,
    .button {
        border: 0px none transparent;
        box-shadow: none;

        span {
            pointer-events: none;
            transition: 0.5s !important;
        }
    }

    .button.has-text-primary {
        span {
            color: var(--accent-color) !important;
            transition: 0.5s !important;
        }
    }

    >.level {
        display: flex;
        margin: 0;
        padding: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        >.level-item:first-child {
            display: flex;
            top: 0;
            margin: 0;
            padding: 0.5em 0px 0.5em 0px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            >.level {
                display: flex;
                margin: 0;
                padding: 0;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                >.level-item:first-child {
                    margin: 0;
                    padding: 0;

                    button,
                    .button {
                        background-color: transparent;

                        >span.icon {
                            margin: 0 !important;
                            width: 1rem !important;
                            height: 1rem !important;
                        }
                    }
                }

                >.level-item:not(:first-child) {
                    margin: 0;
                    padding: 1.5em 0px 0px 0px;

                    button,
                    .button {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        background-color: transparent;
                        background-clip: padding-box;
                        height: fit-content;
                        backface-visibility: hidden;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        width: 64px;

                        .icon:first-child:not(:last-child) {
                            margin: 0px 0px 8px 0px;
                        }
                    }
                }
            }
        }

        >.level-item:last-child:not(:first-child) {
            position: absolute;
            bottom: 0;
            margin: 0;
            padding: 0px 0px 32px 0px;
        }
    }
}

#menu {
    z-index: 4;
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    padding: env(safe-area-inset-top, 0px) 0px 0px 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--menu-background-color);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: 0.5s;

    button,
    .button {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 12px 24px 12px 24px;
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
        border-radius: 290486px;
        background: rgba(255, 255, 255, 0.75) !important;
        background-clip: padding-box;
        height: fit-content;
        line-height: calc(0.75rem * 1.5);
        backface-visibility: hidden;
        color: #000000;
        box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.1) !important;
        backdrop-filter: blur(4px) !important;
        -webkit-backdrop-filter: blur(4px) !important;

        .icon {
            color: var(--accent-color);
            transition: 0.5s;
        }

        span+.icon:last-of-type {
            color: var(--accent-color);
            transition: 0.5s;
        }

        .icon:first-child:not(:last-child) {
            margin: 0;
        }

        span:not(:first-child) {
            margin: 0px 0px 0px 8px;
        }

        span {
            pointer-events: none;
        }
    }

    button.is-primary,
    .button.is-primary {
        background-color: var(--accent-color) !important;
        transition: 0.5s;

        span,
        .icon {
            color: #ffffff !important;
        }
    }

    >.columns {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;

        >.column {
            flex: none;
            margin: auto !important;
            overflow-x: hidden;
            overflow-y: auto;

            >.control {
                margin: 0;
                padding: 0;

                >.level:first-child {
                    display: flex;
                    margin: -8px -8px -8px -8px;
                    flex-direction: column;

                    >.level-item {
                        margin: 0;
                        padding: 8px 8px 8px 8px;
                    }

                    >.level-item>.level {
                        margin: -8px -8px -8px -8px;
                        flex-direction: column;

                        >.level-item {
                            margin: 0;
                            padding: 8px 8px 8px 8px;
                        }
                    }
                }
            }
        }
    }
}

#upload {
    padding: 16px;

    >.level {
        display: flex;
        margin: -8px -8px -8px -8px;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        >.level-item {
            margin: 8px 8px 8px 8px;
            padding: 0;
        }

        .gallery {
            display: flex;
            margin: -2px -2px -2px -2px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .media {
                margin: 2px 2px 2px 2px;
                border: 0px none transparent !important;
                padding: 0;

                figure {
                    margin: 0;
                    padding: 0;

                    .image {
                        overflow: hidden;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.progress {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    margin: 0 !important;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 0;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    overflow: hidden;
    background: transparent;
    touch-action: none;
    backface-visibility: hidden;

    >.bar {
        pointer-events: none;
        z-index: 1;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        border: 0px solid transparent;
        border-radius: 0px;
        width: 100%;
        height: 4px;
        transform: translate3d(0, 0%, 0);
        overflow: hidden;
        background: url('/images/stripes.png') 0 0 repeat;
        background-color: var(--accent-color);
        background-size: 24px 24px;
        animation: progress 1s linear forwards infinite;
        animation-play-state: paused;
        transition: .5s;
        backface-visibility: hidden;
        perspective: 1000;
    }

    >.animating {
        animation-play-state: running;
    }
}

.loading {
    animation: loading 1s linear infinite;
}

.updating {
    animation: updating 1s linear infinite;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.reveal-enter-active,
.reveal-leave-active {
    transition: all 0.25s ease;
}

.reveal-enter-from,
.reveal-leave-to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
}

.reveal-enter-to,
.reveal-leave-from {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.25s ease;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translate3d(100%, 0%, 0);
}

.slide-enter-to,
.slide-leave-from {
    opacity: 1;
    transform: translate3d(0%, 0%, 0);
}

.gallery-list-item {
    transition: all 0.5s ease;
}

.gallery-list-enter-from {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
}

.gallery-list-enter-to,
.gallery-list-leave-from {
    opacity: 1;
    transform: translate3d(1, 1, 0);
}

.gallery-list-leave-to {
    opacity: 0;
    transform: translate3d(0.5, 0.5, 1);
}

::-webkit-scrollbar {
    appearance: none;
    width: 4px;
    overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0deg, 0%, 0%);
    border: 0px solid transparent;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: hsl(0deg, 0%, 96%);
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    margin: 0 !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
}

.gmp-glyph {
    font-family: #{$family-sans-serif};
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 0.75rem;
    color: #ffffff;
}

.gmp-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;

    .gmp-caption {
        padding: 0.5rem 0 0 0;
        color: #000000;
        font-family: #{$family-sans-serif};
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 0.75rem;
        opacity: 0.75;
        text-shadow: 0 4px 8px rgba(31, 38, 135, 0.1);
    }

    .gmp-circle {
        position: relative;
        display: flex;
        width: fit-content;
        height: fit-content;

        .circle {
            position: relative;
            border-width: 1px;
            border-style: solid;
            border-radius: 290486px;
            aspect-ratio: 1;
        }

        label {
            position: absolute;
            width: auto;
            color: #000000;
            font-family: #{$family-sans-serif};
            font-size: 0.75rem;
            line-height: 0.75rem;
            font-weight: bold;
            text-shadow: 0 4px 8px rgba(31, 38, 135, 0.1);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .gmp-bars {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100px;

        .bar-mark {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: transparent;

            div.stack {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                div.bar {
                    position: relative;
                    border-width: 1px;
                    border-style: solid;
                    height: 8px;
                    width: 100px;
                }

                label {
                    margin: 0 0 0 4px;
                    width: auto;
                    color: #000000;
                    font-family: #{$family-sans-serif};
                    font-size: 0.75rem;
                    line-height: 0.75rem;
                    font-weight: bold;
                    text-shadow: 0 4px 8px rgba(31, 38, 135, 0.1);
                }
            }

            div.captions {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                label {
                    width: auto;
                    color: #000000;
                    font-size: 0.75rem;
                    line-height: 0.75rem;
                    font-family: #{$family-sans-serif};
                    font-weight: bold;
                    opacity: 0.75;
                    text-shadow: 0 4px 8px rgba(31, 38, 135, 0.1);
                }
            }
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes updating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes progress {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -24px 0px;
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.75, 0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
    .progress>.bar {
        background: url('/images/stripes@2x.png') 0 0 repeat;
        background-color: var(--accent-color);
        background-size: 24px 24px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
(min-resolution: 3dppx) {
    .progress>.bar {
        background: url('/images/stripes@3x.png') 0 0 repeat;
        background-color: var(--accent-color);
        background-size: 24px 24px;
    }
}

@media screen and (min-width: 769px) and (min-height: 769px) {
    #app {
        >.header {
            opacity: 1;
            transition: 0.5s;
        }

        >.wrap {
            padding: 0;
            transition: 0.5s;

            >.frame {
                transition: 0.5s;

                >.wrap {
                    border: 0px solid hsl(0, 0%, 93%);
                    box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.1);
                }
            }
        }
    }

    #sidebar {
        border-right: 0px solid transparent !important;
    }
}